<main class="center movies-page">
    <ul class="movies-list">
        <li class="movies-list__item" *ngFor="let movie of movies">
            <div class="movies-list__cover">
                <img class="movies-list__image" [src]="movie.poster_url" [alt]="movie.title" />
            </div>
            <div class="movies-list__info">
                <span class="movies-list__name">{{ movie.title }}</span>
                <span class="movies-list__release">{{ movie.release_date }}</span>
                <p class="movies-list__overview">{{ movie.overview }}</p>
            </div>
            <button (click)="removeMovie(movie)" type="button" title="Favorite" class="movies-list__favorite-button">
                <svg class="movies-list__favorite-icon">
                    <use href="#heart" />
                </svg>
            </button>
        </li>
    </ul>
  </main>