<main class="center movies-page">
    <ul class="movies-list">
        <li class="movies-list__item" *ngFor="let movie of movies">
            <div class="movies-list__cover">
                <img class="movies-list__image" [src]="movie.poster_url" [alt]="movie.title" />
            </div>
            <div class="movies-list__info">
                <span class="movies-list__name">{{ movie.title }}</span>
                <span class="movies-list__release">{{ movie.release_date }}</span>
                <p class="movies-list__overview">{{ movie.overview }}</p>
            </div>
            <button (click)="removeMovie(movie)" type="button" title="Favorite" class="movies-list__favorite-button">
                <svg class="movies-list__favorite-icon">
                    <use href="#heart" />
                </svg>
            </button>
        </li>
    </ul>
    <div *ngIf="modalIsOpened" class="create-movie-modal">
        <div class="modal-title">
            <span>Adicionar novo filme favorito</span>
            <span (click)="closeModal()" class="close-modal">+</span>
        </div>
        <div class="form">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="movieToSave.title"
                    placeholder="Insira o nome do filme">
            </div>
            <div class="form-group">
                <label>URL da imagem de capa</label>
                <input type="text" class="form-control" [(ngModel)]="movieToSave.poster_url"
                    placeholder="Insira uma URL de imagem">
            </div>
            <div class="form-group">
                <label>Data de lançamento</label>
                <input type="text" class="form-control" [(ngModel)]="movieToSave.release_date"
                    placeholder="Insira a data de lançamento do filme">
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" [(ngModel)]="movieToSave.overview" rows="3"></textarea>
            </div>
            <div class="button-container">
                <button (click)="saveMovie()" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    <div (click)="openModal()" class="float-button">
        <span>+</span>
        <span>Adicionar filme</span>
    </div>
</main>